.image-container {
  width: 768px;
  height: 432px;
}

.component-container {
    display: flex;
    flex-direction: row
}

.range-slider {
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
  }
}

.slider-container {
    border: 1px solid grey;
    margin: 1rem;
    padding: 1rem;
}

.container {
  position: relative;
}

.tag {
  position: absolute;
  z-index: 1000;
}
