<div class="container">
  <div class="image-container">
    <lib-ngx-image-zoom class="image" [thumbImage]=myThumbnail
                        [fullImage]=myFullresImage
                        [magnification]=magnification
                        [enableScrollZoom]="true"
                        [enableLens]="true"
                        [lensWidth]="100"
                        [lensHeight]="100"
                        [circularLens]="true" style="filter: saturate({{ saturation }}%);"></lib-ngx-image-zoom>
  </div>
  <div class="range-slider">
    <input class="input-range" orient="vertical" type="range" step="1" value="2" min="1" max="10" (change)="changeMagnification($event)">
    <span class="range-value">Magnification from 1x-10x</span>
  </div>
  <div class="range-slider">
    <input class="input-range" orient="vertical" type="range" step="1" value="100" min="0" max="100" (change)="changeSaturation($event)">
    <span class="range-value">Saturation from 0%-100%</span>
  </div>
</div>

