#container {
  position: relative;
  width: 700px;
  height: 500px;
}

#lens {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  pointer-events: none;
}

#lens-photo {
  object-fit: cover;
}

.magnification-slider {
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
  }
}

.image-magnification-container {
    display: flex;
    flex-direction: row;
}

.magnification-slider {
    margin-left: 2rem;
}
