.image-container {
  width: 768px;
  height: 432px;
}

::ng-deep .ngxImageZoomContainer > img {
  width: 768px;
  height: 432px;
}

.range-slider {
  .input-range {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
  }
}

.container {
    display:flex;
    flex-direction: row;
}
